
:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --button-font: monospace;
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: coral;
  --color-indicator-good: lightgreen;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 0.9rem;
}

@media (prefers-color-scheme: dark) {

  :root {
    --color-primary: black;
    --color-secondary: white;
    --color-tertiary: coral;
  }

}

body {

  font-family: var(--font-family);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 20px;

}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
  
  * {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    padding: calc(var(--space) * 2);
    max-width: 700px;
  }
  
  .multi-button {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow) 4px 4px;
    color: var(--color-secondary);
  }
  
  .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    margin: 10px;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1rem;
    font-family: var(--button-font);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
  }
  
  /* .multi-button button + button {
    border-left: var(--border-size) solid var(--color-secondary);
    margin-left: calc(var(--border-size) * -1);
  } */
  
  .multi-button button:hover,
  .multi-button button:focus {
    flex-grow: 2;
    /* color: var(--color-primary); */
    outline: none;
    border-color: var(--color-tertiary);
    text-shadow: none;
    /* background-color: var(--color-secondary); */
  }
  
  .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }

  .multi-button button.running {
    color: var(--color-indicator-good);
    border-color: var(--color-indicator-good);
  }

div.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  flex-flow: row wrap;
  margin: 0;
}

h3 {
  margin: 0;
}

img.logo {
  margin: 10px;
  height: 2rem;
}

h1 {
  font-size: 2rem;
}

details {
  width: 100%;
  margin: 20px 10px;
  max-width: inherit;
  display: block;
}

summary {
  padding-bottom: 20px;
  user-select: none;
  cursor: pointer;
}

details .inside label {
  font-size: 0.9rem;
  font-weight: lighter;
}

details .inside {
  margin-bottom: 15px;
  margin-top: -20px;
}

details .inside .code {
  margin: 20px auto;
  display: block;
}

details select, details input {

  width: calc(100% - 25px);
  background-color: transparent;
  color: var(--color-secondary);

  outline: none;
  border: var(--border-size) solid var(--color-secondary);
  padding: 15px;

  font-family: var(--font-family);

  margin: 5px auto;

}

details input option {
  color: black !important;
}

details .inside div {
  margin: 15px 0;
}